---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
$sans-serif: 'Raleway', sans-serif;
$global-font-family: 'Raleway', sans-serif;
$header-font-family: 'Raleway', sans-serif;
$caption-font-family: 'Raleway', sans-serif;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
