---
layout: default
---

            <img src="avatar.png" alt="Thiyagarajan K">
            <h2>Thiyagarajan Karuppaiah</h2>
            <p>Techi - Athlete - Blithesome</p>
            <a href="https://twitter.com/2mrt"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/2thiyagu"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/thiyagarajan.k"><i class="fab fa-facebook"></i></a>
            <a href="http://thiyagu.in"><i class="far fa-edit"></i></a>            
     

{{ content }}


Hello There! 
<br> </br>
Welcome to my tech blog! This is a collection of my technological experiences, presented in the form of helpful guides and insightful tips.
<br> </br>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
