---
layout: default
---

<div id="main" role="main" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center;">
            <p></p><img src="assets/images/dp.png" alt="Thiyagarajan K"></p>
            <h2>Thiyagarajan Karuppaiah</h2>
            <p>Techi - Athlete - Blithesome</p>
            <a href="https://twitter.com/2mrt"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/2thiyagu"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/thiyagarajan.k"><i class="fab fa-facebook"></i></a>
            <a href="http://thiyagu.in"><i class="far fa-edit"></i></a>            
     
</div>
{{ content }}

{% include paginator.html %}
